<div class="form-group">
    <div class="col-sm-3 text-right">
        <strong>{{ item.prop_label }}:</strong>
    </div>
    <div class="col-sm-9">
        {% for row in output %}
            <span>{{ row }}</span>
        {% endfor %}
    </div>
</div>
