/* Copyright 2009 - Zikula Foundation */

#youravatarcontainer {
    margin-top: 1em;
}
#profile_wrapper {
    position: relative;
    min-height: 9em;
}
.profile-information img {
    padding: 4px;
    position: absolute;
    right: 1em;
    top: 1em;
}