{# { adminHeader() } #}
<div class="z-adminbox">
    <h1>{{ __('Profile manager') }}</h1>
    {{ moduleLinks(modname='ZikulaUsersModule') }}
    {{ moduleLinks(modname='ZikulaProfileModule') }}
</div>
