<div class="form-group">
    {{ form_row(form.username) }}
</div>

<div class="form-group">
    {{ form_row(form.fieldstoshow) }}
</div>

<div class="form-group">
    {{ form_row(form.showregdate) }}
</div>
