<div class="text-center">
    <h5>{{ user.uname|profileLinkByUserName() }}</h5>
    <p>
        {{ user.uname|profileLinkByUserName('', userAvatar(user.uid)) }}
    </p>
    {% for activeProperty in activeProperties|filter(
        prop => user.attributes[prefix~':'~prop.id]['value']|default
            and prop.id in blockProperties['fieldstoshow']
            and hasPermission('ZikulaProfileModule::item', prop.id~'::', 'ACCESS_READ')
    ) %}
        <p><strong>{{ user.attributes[prefix~':'~activeProperty.id]['extra'] }}</strong><br />{{ user.attributes[prefix~':'~activeProperty.id]['value'] }}</p>
    {% endfor %}
    {% if blockProperties['showregdate'] %}
        <span>{% trans with { '%s%': user.registrationDate|format_date('short') } %}Registered on %s%{% endtrans %}</span>
    {% endif %}
</div>
