{% if sessionsToFile %}
    <div class="alert alert-info">{% trans %}This information is not available.{% endtrans %}
        {% if hasPermission('ZikulaSecurityCenterModule::', '::', 'ACCESS_ADMIN') %}
            <br />{% trans %}Admin Message: Sessions are configured to store in a file.{% endtrans %}&nbsp;
            <a href="{{ path('zikulasecuritycentermodule_config_config') }}">{% trans %}Reconfigure session storage{% endtrans %}</a>
        {% endif %}
    </div>
{% else %}
    <ul class="list-group">
        {% for session in sessions %}
            <li class="list-group-item">{{ session.uid|profileLinkByUserId() }} ({{ session.lastused|format_datetime('medium', 'short') }})</li>
        {% endfor %}
    </ul>
{% endif %}
