{% if sessionsToFile %}
    <div class="alert alert-info">{% trans %}This information is not available.{% endtrans %}
        {% if hasPermission('ZikulaSecurityCenterModule::', '::', 'ACCESS_ADMIN') %}
            <br />{% trans %}Admin Message: Sessions are configured to store in a file.{% endtrans %}&nbsp;
            <a href="{{ path('zikulasecuritycentermodule_config_config') }}">{% trans %}Reconfigure session storage{% endtrans %}</a>
        {% endif %}
    </div>
{% else %}
    {% if sessions|length > 0 %}
    <ul class="list-group">
        {% for session in sessions %}
        <li class="list-group-item">
            {{ session.uid|profileLinkByUserId('', '', maxLength) }}
            {% if messageModule is not empty %}
                {% if session.uid == currentUser.uid %}
                    {% set title = messageCount(session.uid, true) ~ 'unread'|trans ~ "|" ~ messageCount(session.uid) ~ 'total'|trans %}
                    ({{ messageInboxLink(session.uid, false, title) }})
                {% else %}
                    <a href="{{ session.uid|messageSendLink(true) }}" title="{% trans %}Send private message{% endtrans %}"><i class="fas fa-envelope"></i></a>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <p class="text-info">
        {% if amountOfOnlineGuests == 0 %}
            {% set amountOfMembers = '%s registered user'|trans({ '%s': sessions|length, '%count%': sessions|length }) %}
            {% trans with { '%s': amountOfMembers } %}%s on-line.{% endtrans %}
        {% elseif sessions|length == 0 %}
            {% set amountOfGuests = '%s anonymous guest'|trans({ '%s': amountOfOnlineGuests, '%count%': amountOfOnlineGuests }) %}
            {% trans with { '%s': amountOfGuests } %}%s on-line.{% endtrans %}
        {% else %}
            {% set amountOfMembers = '%s registered user'|trans({ '%s': sessions|length, '%count%': sessions|length }) %}
            {% set amountOfGuests = '%s anonymous guest'|trans({ '%s': amountOfOnlineGuests, '%count%': amountOfOnlineGuests }) %}
            {% trans with { '%1$s': amountOfMembers, '%2$s': amountOfGuests } %}%1$s and %2$s on-line.{% endtrans %}
        {% endif %}
    </p>
{% endif %}
