/* Copyright Zikula Foundation, licensed MIT. */

#youravatarcontainer {
    margin-top: 1em;
}
#profile_wrapper {
    position: relative;
    min-height: 9em;
}
.profile-information img {
    padding: 4px;
    position: absolute;
    right: 1em;
    top: 1em;
}
.profile_dateinput {
    display: inline-block;
    width: 50%;
}
